<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>蒲公英</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <!--<meta name="viewport" content="width=640,initial-scale=0.5,maximum-scale=0.5, minimum-scale=0.5,user-scalable=no">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <link type="text/css" rel="stylesheet" href="../css/help.css" />
</head>

<body>
    <div class="main" style='margin-top: 0px'>
        <div class="help_new">
            <div class="img_box" style='margin-top: 0'><img src="../images/pic_help_1.png"></div>
            <p>
                <strong>您点击/滑动选择时间段,查看相应的数据明细.<span style='font-weight: 300'>(7日:不包括今天在内的最近7天,30日:不包括今天在内的最近30天)</span></strong>
                <br/>
                <strong>1.浏览/分享</strong>
                <br/> 浏览是指您选定时间段内分享页被打开次数，分享是您累计的分享次数的总和；
                <br/>
                <strong>2.点击</strong>
                <br/> 点击是指在选定的时间段内从您分享页面中点击到达商家页面的次数；
                <br/>
                <strong>3.产生订单</strong>
                <br/> 产生订单是指下单时间在选定时间段内分享所产生的订单数，这里只记录分享产生的订单，如果是自 主购买的订单明细需在订单明细页查询；
                <br/>
                <strong>4.预估收益</strong>
                <br/> 预估收益是指选定时间段内通过您分享所产生订单 的预估收益；
                <br/> PS：页面中的曲线图是依据以上四个数据做展现，您可以自主选择任意两项查看曲线趋势；曲线回落就要加油喽~↖(^ω^)↗
            </p>
            <div class="img_box"><img src="../images/pic_help_2.png"></div>
            <p>
                <strong>5.结算订单</strong>
                <br/> 结算订单是财务已经完成结算的订单；
                <br/>
                <strong>6.可用余额</strong>
                <br/> 可用余额是已结算订单的金额，并已发放到您的 账户中，可在账户余额中查看；您点击/滑动选择时间段，查看相应的数据明细。
                <br/>
                <strong>7.记录订单</strong>
                <br/> 记录订单是指选定时间段内的已经确认收货还没有结算的订单；
                <br/>
                <strong>8.即将可用</strong>
                <br/> 即将可用是选定时间段内记录订单的即将可用金额；
            </p>
        </div>
    </div>
</body>

</html>
