<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="keywords" content="<%= header_keywords%>"></meta>
    <meta name="description" content="<%= header_description%>"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<meta name="apple-touch-fullscreen" content="yes">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta name="apple-mobile-web-app-status-bar-style" content="black" >

    <script onload='this.remove()'>
        var ymVar = {
            resourceVer: '<%= resourceVer%>',
            jsServer:'<%=jsServer%>',
            imgServer:'<%=imgServer%>'
        }

    </script>
    <% for(var i in joeCss){ %>
    <link rel="stylesheet" href="<%=jsServer%><%= joeCss[i]%>"/>
    <%}%>
</head>
<body class="mo">
