<header>
    <article class="wrap">
        <section class="sectionOne" data-click data-type='back'>
        
        </section>
        <section class="sectionTwo">
            <h1>
                <input class="search sIcon" type="search" placeHolder="输入宝贝名称" autocomplete="off"/>
                <div>
                    <img data-click src="/images/icon_delete.png" data-type='empty'/>
                </div>
            </h1>
        </section>
        <section class="sectionThree" data-click data-type='search' ><a>搜索</a></section>
    </article>
</header>
<div class="main" style="margin-top:45px;">
    <div class="hot_seach clearfix">
        <label>热门搜索：</label>
       
    </div>
    <div class="grey_line"></div>
    <div class="history_seach">
        <div class="title">历史搜索</div>
        <ul class='historyList'>
           
        </ul>
        <div class="btn"><a href="javascript:void(0)" class='clear-his'>清除搜索记录</a></div>
    </div>
</div>
