<%for(var i in list){%>
    <div class="share_record mb013">
        <div class="order_box ">
            <div class="order_info">
                <span class="fl <%=getICon(list[i].channelName)%>">


					<%=list[i].channelName%>默认渠道</span>
                <span class="fr"><%=list[i].createTime%></span>
            </div>
            <div class="order_con">
                <a  class="order_left"><img data-type="business" data-id="<%= list[i].itemId%>" data-click src="<%=list[i].imgUrl%>"></a>
                <div class="order_right">
                    <div class="row_1">
                        <%=list[i].title%>
                    </div>
                    <div class="row_2">订单数<span class="color01"><%=list[i].orders%></span></div>
                    <div class="row_3">预计收益<span class="color01"> ¥<%=list[i].estimatedReturn || 0%></span></div>
                </div>
                <div class="order_rebate">
                    <div class="circle">转化率<span class="b_font"><%=fixed(list[i].converRate || 0 )%>%</span></div>
                </div>
            </div>
            <div class="share_info pb013"><span><%=type(list[i].shareType)%></span><span style="background-image:url(<%=jsServer%>images/icon_eye.png)" ><%=list[i].browerNumber%></span><span style="background-image:url(<%=jsServer%>images/icon_zan.png)"><%=list[i].clicks%></span></div>
        </div>
    </div>
    <%}%>
