
<div class="main" style='margin-top:0;'>
    <div class="goods">
        <img class="topic_img" style='width:100%;height:auto;display:none' src="" alt="">
    <div class="carousel-layer" style="position: absolute; right: 0px; top: 0px; width: 20%; color: white; text-align: center; height: 103.226px; background: rgb(230, 46, 92);"><div style="font-size: 13px;height:20px;margin:50% auto 7px auto;">平均佣金</div><div class='ava' style="margin: 0 auto;height:20px;font-size:16px;"></div></div>
        <div class="bottom">
            <div class='list-c'>
            </div>
           <div style='height:40px;display:none;line-height:40px;' class='wf-indicator'>加载中...</div>

        </div>
    </div>
</div>
<a href="#">
    <div class="rtop iconfont"></div>
</a>
<div class="wrapper loading-mask">
         <div class="loading_css3"></div>
         <div class='loding-text'> 加载中...</div>
    </div>



<script>
var list = '<%=list%>'.replace(/&lt;/ig, '<').replace(/&gt;/ig, '>').replace(/&quot;/ig, '"');
</script>
