* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
  text-decoration: none;
}
::-moz-selection {
  background: rgba(136, 187, 0, 0.15);
  text-shadow: none;
}
::selection {
  background: rgba(136, 187, 0, 0.15);
  text-shadow: none;
}
body {
  font-family: Helvetica, "黑体", Verdana, Geneva, sans-serif;
  font-weight: normal;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  clear: both;
  overflow: hidden;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.pb5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
/*css3动画滚动条*/
.loading_css3 {
  display: block;
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 50%;
  margin-top: -35px;
  margin-left: -29px;
  width: 52px;
  height: 52px;
  background: url(/images/loading.png) 0 0;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-start;
  -webkit-animation-name: animate01;
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
}
@-webkit-keyframes animate01 {
  0% {
    background-position: 0px 0;
  }
  2.17% {
    background-position: 52px 0;
  }
  4.34% {
    background-position: 104px 0;
  }
  6.51% {
    background-position: 156px 0;
  }
  8.68% {
    background-position: 208px 0;
  }
  10.85% {
    background-position: 260px 0;
  }
  13.02% {
    background-position: 312px 0;
  }
  15.19% {
    background-position: 364px 0;
  }
  17.36% {
    background-position: 416px 0;
  }
  19.53% {
    background-position: 468px 0;
  }
  21.7% {
    background-position: 520px 0;
  }
  23.84% {
    background-position: 572px 0;
  }
  26.04% {
    background-position: 624px 0;
  }
  28.21% {
    background-position: 676px 0;
  }
  30.38% {
    background-position: 728px 0;
  }
  32.55% {
    background-position: 780px 0;
  }
  34.72% {
    background-position: 832px 0;
  }
  36.89% {
    background-position: 884px 0;
  }
  39.06% {
    background-position: 936px 0;
  }
  41.23% {
    background-position: 988px 0;
  }
  43.93% {
    background-position: 1040px 0;
  }
  46.1% {
    background-position: 1092px 0;
  }
  48.27% {
    background-position: 1144px 0;
  }
  50.44% {
    background-position: 1196px 0;
  }
  52.61% {
    background-position: 1248px 0;
  }
  54.78% {
    background-position: 1300px 0;
  }
  56.95% {
    background-position: 1352px 0;
  }
  59.12% {
    background-position: 1404px 0;
  }
  61.29% {
    background-position: 1456px 0;
  }
  63.46% {
    background-position: 1508px 0;
  }
  65.63% {
    background-position: 1560px 0;
  }
  67.8% {
    background-position: 1612px 0;
  }
  69.97% {
    background-position: 1664px 0;
  }
  72.14% {
    background-position: 1716px 0;
  }
  74.31% {
    background-position: 1768px 0;
  }
  76.48% {
    background-position: 1820px 0;
  }
  78.65% {
    background-position: 1872px 0;
  }
  80.82% {
    background-position: 1924px 0;
  }
  82.99% {
    background-position: 1976px 0;
  }
  85.16% {
    background-position: 2028px 0;
  }
  87.33% {
    background-position: 2080px 0;
  }
  89.5% {
    background-position: 2132px 0;
  }
  91.67% {
    background-position: 2184px 0;
  }
  93.84% {
    background-position: 2236px 0;
  }
  96.01% {
    background-position: 2288px 0;
  }
  98.18% {
    background-position: 2340px 0;
  }
  100% {
    background-position: 2392px 0;
  }
}
.wrapper {
  width: 130px;
  height: 70px;
  border: 1px solid #000;
  border-radius: 5px;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 50%;
  left: 50%;
  margin-left: -65px;
  margin-top: -35px;
  z-index: 999990;
}
.loding-text {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
  color: white;
  font-size: 13px;
}
.wf-indicator {
  width: 100%;
  background-size: 212px 40px !important;
  box-sizing: border-box;
  text-align: center;
  background-repeat: no-repeat !important;
  background-image: url(/images/pull.gif);
  background-position: 0 0;
  font-size: 12px;
  background-color: #ebebeb;
}
body {
  padding-bottom: 50px;
}
.show {
  display: block !important;
}
.results .time {
  font-size: 12px;
  color: #787878;
  line-height: 25px;
  text-align: center;
  background-color: #ebebeb;
}
.results .nav {
  height: 35px;
  line-height: 35px;
  background: #FFF;
  display: box;
  color: #505050;
  text-align: center;
  font-size: 0.35rem;
  position: relative;
}
.results .nav:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-bottom: 1px solid #c8c8c8;
  -webkit-transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  -o-transform: scaleY(0.5);
  -o-transform-origin: 0 0;
}
.results .nav div:first-child {
  font-size: 14px;
}
.results .nav .select {
  position: absolute;
  background: url(/images/icon_down.png) right 5px no-repeat;
  background-size: 0.84rem 0.93rem;
  padding-right: 0.8rem;
  font-size: 14px;
  right: 0;
  top: 0;
}
.results .nav .select .sel-text {
  color: #f43f48;
}
.results .nav .select .group {
  background: #fff;
  position: relative;
  z-index: 19;
  display: none;
  margin-top: -10px;
  padding: 0 0 10px 0;
}
.results .nav .select .group div {
  height: 25px;
}
.results_b {
  position: fixed;
  bottom: 0;
  background-color: #f43f48;
  color: #fff;
  width: 10rem;
  padding: 0.13rem 0.13rem;
  font-size: 13px;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  line-height: 0.5rem;
}
.results_b .left {
  width: 1.46rem;
  line-height: 1rem;
  text-align: center;
  border-right: 1px solid #FFF;
}
.results_b .right {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 0.26rem;
  background: url(/images/icon_arrow_white.png) 95% center no-repeat;
  background-size: 0.59rem 0.59rem;
}
.results_b .right span {
  width: 40%;
  display: inline-block;
}
.order {
  margin: 0.15rem 0.4rem;
  background-color: #fff;
  font-size: 14px;
  line-height: 0.67rem;
  text-align: center;
  position: relative;
  padding: 5px 0px;
}
.order:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-bottom: 1px solid #c8c8c8;
  -webkit-transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  -o-transform: scaleY(0.5);
  -o-transform-origin: 0 0;
}
.order div {
  display: -moz-box;
  display: -webkit-box;
  display: box;
}
.order div span {
  display: block;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 33.3%;
}
.order .year {
  font-size: .32rem;
}
.nofind {
  text-align: center;
  margin-top: 100px;
}
.date-get {
  font-size: 13px;
  background: #fff;
}
.sel {
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #eee;
}
.sd,
.td {
  height: 30px;
  border-radius: 15px;
  border: 1px solid #ddd;
  display: inline-block;
  padding: 0 15px;
  line-height: 30px;
}
.sd {
  margin-left: 30px;
}
.check {
  border-color: #f43f48;
  color: #f43f48;
}
.tb {
  position: fixed;
  bottom: 0;
  text-align: center;
  z-index: 999;
  background: #fff;
  width: 100%;
  display: none;
  font-size: 13px;
  padding: 10px 0;
}
.tb div {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  width: 80px;
  text-align: center;
}
.submit {
  background-color: #f43f48;
  color: white;
}
.cancelBtn {
  border: 1px solid #f43f48;
  color: #f43f48;
  margin-left: 40px;
}
.toolbar {
  display: none;
}
.date2 {
  margin-top: 30px;
  width: 100%;
  padding-top: 20px;
  border-top: 1px solid #eee;
  padding-bottom: 100px;
}
.date-get {
  width: 100%;
  transition: .2s left;
  -webkit-transition: .2s left;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  position: fixed;
  top: 0;
  left: 100%;
  height: 100%;
  overflow: auto;
}
.date-get-inner {
  position: relative;
}
.toast {
  height: 30px;
  border: 1px solid #f43f48;
  color: #f43f48;
  background: white;
  padding: 5px 10px;
  line-height: 30px;
  width: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -110px;
  z-index: 99999;
  display: none;
  text-align: center;
  font-size: 14px;
}
