.layer-in {
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 45px;
  height: 45px;
  color: #505050;
}
.layer-in .tab {
  visibility: visible;
  height: 45px;
  top: 0;
  z-index: 99999;
  background: #fff;
  text-align: center;
  border-bottom: 1px solid #c8c8c8;
  width: 100%;
  position: absolute;
}
.layer-in .tab div {
  display: inline-block;
  height: 100%;
  width: 60px;
  width: 48%;
  float: left;
}
.layer-in .tab .out {
  color: #505050;
}
.layer-in .tab .out span {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #505050;
}
.layer-in .tab .on {
  color: #ff7582;
}
.layer-in .tab .on span {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #ff7582;
}
.layer-in .tab .layer-toggle {
  position: absolute;
  right: 10px;
  background: url(/images/layer-open.png) no-repeat 0 0;
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  top: 12.5px;
  padding: 0;
}
.layer-in .tab-c {
  margin-top: 45px;
}
.layer-in .tab-c .sort_alt {
  background: #fff;
  line-height: 45px;
  height: 100%;
}
.layer-in .tab-c .sort_alt li {
  margin: 0 15px;
  position: relative;
}
.layer-in .tab-c .sort_alt li span {
  display: inline-block;
  visibility: hidden;
  float: right;
  width: 16px;
  height: 45px;
  background: url(../images/icon_filter.png) center center no-repeat;
  background-size: 16px 16px;
}
.layer-in .tab-c .sort_alt li a {
  color: #505050;
}
.layer-in .tab-c .sort_alt li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #c8c8c8;
  -webkit-transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  -o-transform: scaleY(0.5);
  -o-transform-origin: 0 0;
}
.layer-in .tab-c .sort_alt .on a {
  color: #f43f48;
}
.layer-in .tab-c .sort_alt .on a span {
  visibility: visible;
}
.layer-in .tab-c .filter_area {
  height: 100%;
  background-color: #fff;
  font-size: 14px;
  line-height: 45px;
  position: relative;
}
.layer-in .tab-c .filter_area .on {
  background-color: #ff7582!important;
  color: #fff!important;
}
.layer-in .tab-c .filter_area .filter_box {
  position: absolute;
  top: 0;
  padding: 0 15px;
  width: 100%;
  box-sizing: border-box;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  will-change: transform;
  transition: .0s top;
  -webkit-transition: .0s top;
}
.layer-in .tab-c .filter_area .filter_box a {
  display: inline-block;
  float: left;
  padding: 0 20px;
  margin-right: 10px;
  text-align: center;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #f5f5f5;
  line-height: 30px;
  color: #505050;
}
.layer-in .tab-c .filter_area .filter_box input {
  width: 80px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  background-color: #f5f5f5;
  border: 0;
  outline: 0;
}
.layer-in .tab-c .filter_area .filter_box .price {
  height: 45px;
  position: relative;
}
.layer-in .tab-c .filter_area .filter_box .red_font {
  color: #ff7582;
  padding: 0 10px;
}
.layer-in .tab-c .filter_area .filter_box .category {
  position: relative;
}
.layer-in .tab-c .filter_area .filter_box .category_box {
  position: relative;
}
.layer-in .tab-c .filter_area .filter_box .category_box a {
  overflow: hidden;
  -webkit-box-align: center;
  -webkit-text-size-adjust: none;
  -webkit-box-flex: 1;
  font-size: 12px;
  display: -webkit-box;
  float: left;
  text-align: center;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #505050;
  line-height: 20px;
  padding: 3px 8px;
  width: 31.3%;
  box-sizing: border-box;
  height: 45px;
  margin: 0 3% 8px 0;
}
.layer-in .tab-c .filter_area .filter_box .category_box a:nth-child(3n+1) {
  margin-right: 0;
}
.layer-in .tab-c .filter_area .filter_box .category_box div {
  top: 0;
  z-index: 1;
  transition: top 0s;
  -webkit-transition: top 0s;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  text-align: center;
}
.layer-in .btn_box {
  z-index: 9999;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  border-top: 1px solid #f43f48;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  -ms-flex-flow: row wrap;
  flex-flow: row;
  text-align: center;
}
.layer-in .btn_box a {
  display: block;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 50%;
}
.layer-in .btn_box .on {
  background-color: #f43f48;
  color: #fff;
}
.layer-in .btn_box .out {
  background-color: #fff;
  color: #f43f48;
}
