/*css3动画滚动条*/
.loading_css3 {
  display: block;
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 50%;
  margin-top: -35px;
  margin-left: -29px;
  width: 52px;
  height: 52px;
  background: url(/images/loading.png) 0 0;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-start;
  -webkit-animation-name: animate01;
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
}
@-webkit-keyframes animate01 {
  0% {
    background-position: 0px 0;
  }
  2.17% {
    background-position: 52px 0;
  }
  4.34% {
    background-position: 104px 0;
  }
  6.51% {
    background-position: 156px 0;
  }
  8.68% {
    background-position: 208px 0;
  }
  10.85% {
    background-position: 260px 0;
  }
  13.02% {
    background-position: 312px 0;
  }
  15.19% {
    background-position: 364px 0;
  }
  17.36% {
    background-position: 416px 0;
  }
  19.53% {
    background-position: 468px 0;
  }
  21.7% {
    background-position: 520px 0;
  }
  23.84% {
    background-position: 572px 0;
  }
  26.04% {
    background-position: 624px 0;
  }
  28.21% {
    background-position: 676px 0;
  }
  30.38% {
    background-position: 728px 0;
  }
  32.55% {
    background-position: 780px 0;
  }
  34.72% {
    background-position: 832px 0;
  }
  36.89% {
    background-position: 884px 0;
  }
  39.06% {
    background-position: 936px 0;
  }
  41.23% {
    background-position: 988px 0;
  }
  43.93% {
    background-position: 1040px 0;
  }
  46.1% {
    background-position: 1092px 0;
  }
  48.27% {
    background-position: 1144px 0;
  }
  50.44% {
    background-position: 1196px 0;
  }
  52.61% {
    background-position: 1248px 0;
  }
  54.78% {
    background-position: 1300px 0;
  }
  56.95% {
    background-position: 1352px 0;
  }
  59.12% {
    background-position: 1404px 0;
  }
  61.29% {
    background-position: 1456px 0;
  }
  63.46% {
    background-position: 1508px 0;
  }
  65.63% {
    background-position: 1560px 0;
  }
  67.8% {
    background-position: 1612px 0;
  }
  69.97% {
    background-position: 1664px 0;
  }
  72.14% {
    background-position: 1716px 0;
  }
  74.31% {
    background-position: 1768px 0;
  }
  76.48% {
    background-position: 1820px 0;
  }
  78.65% {
    background-position: 1872px 0;
  }
  80.82% {
    background-position: 1924px 0;
  }
  82.99% {
    background-position: 1976px 0;
  }
  85.16% {
    background-position: 2028px 0;
  }
  87.33% {
    background-position: 2080px 0;
  }
  89.5% {
    background-position: 2132px 0;
  }
  91.67% {
    background-position: 2184px 0;
  }
  93.84% {
    background-position: 2236px 0;
  }
  96.01% {
    background-position: 2288px 0;
  }
  98.18% {
    background-position: 2340px 0;
  }
  100% {
    background-position: 2392px 0;
  }
}
.wrapper {
  width: 130px;
  height: 70px;
  border: 1px solid #000;
  border-radius: 5px;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 50%;
  left: 50%;
  margin-left: -65px;
  margin-top: -35px;
  z-index: 999990;
}
.loding-text {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
  color: white;
  font-size: 13px;
}
